<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Win</title>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"
            integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
            crossorigin="anonymous">
    </script>

    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
    <script src="javascripts/model.js"></script>
</head>
<body id="spaceBackground">
<h1 class="whiteTxt">You Win!!!</h1>

<p id="myTime" class="whiteTxt"></p>
<a href="/game">New Game</a>
<div id="countdown" class="whiteTxt"></div>
<ul id="scores" class="whiteTxt"></ul>
<script src="javascripts/game/levelUp.js"></script>
<script>
    var myTime = document.getElementById("myTime");
    var time = <%- gameTime %>;
    var moves = <%- gameMoves %>;
    var name = <%- userName %>;
    var level = <%- level %>;
    var scores = <%- scores %>;
    var score = {};
    score["time"] = time;
    score["moves"] = moves;
    score["name"] = name;
    score["level"] = level;

    var socket = io('https://spacewarsoffical.herokuapp.com/');
    socket.emit("highscore", score);

    myTime.innerHTML = "<p>Moves: " + moves + "<br/>Time: " + time + "</p>";
    displayHighScores(scores, score);

    var countdown = document.getElementById("countdown");
    var i = 10;

    setInterval(function () {
        if (i >= -1) {
            countdown.innerHTML = "<h2 class='whiteTxt'>" + i + "..</h2>";
            console.log("count" + i);
            i -= 1;
            if (i == -1) {
                location.href = "/game";
            }
        }
    }, 1000)

</script>


</body>
</html>